<footer class="c-page__footer">
  <p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
  <p>{% if site.external_site %}<a target="_blank" href="{{ site.external_url }}">{{ site.external_site }}</a><span class="u-separate"></span>{% endif %}{% if site.twitter_username %}<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a><span class="u-separate"></span>{% endif %}{% if site.github_username %}<a target="_blank" href="https://github.com/{{ site.github_username }}">Github</a>{% endif %}</p>
</footer>
